@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    /* background-color: rgb(255, 250, 183); */
    flex-direction: column;
    justify-content: space-around;
    /* height: 100vh; */
}
.main-box {
    /* background-color: rgb(253, 148, 244); */
    font-size: 35px;
    margin: 50px auto;
    padding: 80px;
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    transition: box-shadow .2s;
    border-radius: 9px;
}

.main-box:hover{
    box-shadow: 4px 4px 17px;
}

.text-box{
    margin: auto;
}

.top-head{
    font-family: 'Lato', sans-serif;
    font-size: 70px;
}

.bot-head{
    font-family: 'Roboto Mono', monospace;
}

.img-bx-shd:hover{
    box-shadow: 4px 4px 50px;
}

.p0{
    padding: 0;
}